.card {
    box-shadow: 0px 0px 2px 0px rgb(133, 145, 152);
    margin: 15px;
    width: auto;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 2px 2px 10px 1px rgba(63, 63, 63, 0.347);
    transform: scale(1.03);
    cursor: pointer;
}

.prodImage {
    width: 170px;
    object-fit: cover;
    border-bottom: 5px solid rgba(204, 204, 204, 0.278);;
}

.card .info {
    padding: 10px;
}

.card .info h3 {
    margin-top: 0px;
    font-size: 17px;
    margin-bottom: 7px;
    color: black;
    padding: 4px;
    border-radius: 5px;
}

.card .info h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
    align-self: center;
}

.heartButton {
    background-color: transparent;
    border: transparent;
}

.heartImage {
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
}

.detailButton {
    background-color: black;
    color: white;
    padding: 10px 0px;
}