.containerCartDetail {
  display: flex;
  background-color: rgb(229, 233, 235);
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

.infoCartDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.infoCartDetail img {
  width: 70px;
  border-radius: 8px 0px 0px 8px;
}

.infoCartDetail article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoCartDetail article h3 {
  margin: 0px 5px;
}

.infoCartDetail article h4 {
  margin: 0px 5px;
}

.infoCartDetail article h5 {
  margin: 0px 5px;
}

.subtotal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.boton {
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  border: 1px solid white;
}

.botonDelete {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
