.checkoutMessage {
  padding: 20px;
  margin: 30px;
  background-color: rgb(197, 210, 218);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.checkoutButton {
  padding: 6px 8px;
  border-radius: 5px;
  background-color: rgba(239, 112, 112, 0.895);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
  text-decoration-line: none;
}
