.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navFooter {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav li {
    color: white;
}

.navFooter ul {
    list-style: none;
}

.nav ul li {
    margin: 0px 10px;
}

.navFooter li {
    color: white;
    margin: 5px;
}

.navFooter img {
    width: 50px;
}

.navFooter img:hover{
    cursor: pointer;
}

.nav img {
    width: 50px;
}

.nav img:hover{
    cursor: pointer;
}

.navFooter li:hover{
    cursor: pointer;
}

.nav li:hover{
    cursor: pointer;
}